
  @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;700&family=Inter+Tight:wght@400;600;700&family=Poppins:wght@300;400;500;600&family=Roboto+Slab:wght@100;400;600;700&display=swap');


* {
    box-sizing: border-box; 
}

body {
    background-color: rgb(24, 81, 104);
    padding: 5em 20em;

font-family: 'Inconsolata', monospace;

}

/*Heading*/
h1 {
    text-align: center;
   
    font-size: 400%;
    font-style: normal;
    color: rgb(249, 249, 252);
    font-weight: bolder;

}


/*author*/
h2 {
text-align: center;
color: rgb(249, 249, 250);
font-family: Arial, Helvetica, sans-serif;
font-size: 300%;
font-weight: bold;

}


/*content*/
p {
    text-align: justify;
    font-size: 200%;

}

/*Back-to-top*/
#back-to-top {
    position: fixed;
    bottom: 3em;
    right: 3em;
    background-color: rgb(255, 255, 255.9);
    color: black #000000;
    border: none;
    border-radius: 5px;
    padding: 1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 700;
    box-shadow: 0 0 2em 0 rgba(0, 0, 0, .25);
    transition: all .3s ease-in-out;
    display:inline-block;
    opacity: 0;
    text-decoration: none;
    font-size: .75em;

}

#back-to-top:hover {
    background-color: #fff;
    padding: 1em 3em;
}

#back-to-top.visible {
    opacity:  1;
}
